@charset "UTF-8";
/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Pretendard 폰트 가져오기 */
@import "pretendardFont.css";

/*
FOOTER
===============================*/
footer {
    padding: 0 3rem;
    /*디자인*/
    width: auto;
    height: 486px;
    background: #1A1A1A;
}

/* footer_main -------------- */
#footer_main {
    padding-top: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo {
    width: 173px;
    height: 37px;
}
#footer_main .team {
    margin-top: 8px;
    margin-left: 204px;
    display: flex;
    list-style-type: none;
}
.team li {
    display: inline-block;
    margin-left: 151px;
    color: #C9C9C9;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500; /*medium*/
}
.team li span {
    color: #fff;
    font-size: 20px;
    font-weight: 600; /*semi bold*/
}
.minseo {
    margin-left: 0;
}

/* etc -------------- */
#etc {
    margin-top: 144px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    text-align: center;
}
.app {
    display: flex;
    color: #999999;
    font-family: "pretendard", sans-serif;
    font-size: 14px;
    font-weight: 500; /*medium*/
    line-height: 26.8px;
}
.apple, .google {
    display: flex;
    justify-content: center;
    align-items: center;
}
.app img {
    padding-right: 10px;
}
.apple {
    margin-right: 34px;
}
.apple img {
    width: 15px;
    height: 19px;
}
.google img {
    width: 15px;
    height: 15px;
}
.footer_line {
    border-bottom: solid 1px #999999;
    margin: 31px 0 24px 0;
}
.footer_bottom {
    display: flex;
    color: #999999;
    font-family: "pretendard", sans-serif;
    font-size: 14px;
    font-weight: 500; /*medium*/
    line-height: 26.8px;
}
.copyright {
    margin-right: 47px;
}
.helf {
    display: flex;
    list-style-type: none;
}
.helf li {
    display: inline-block;
    margin-right: 28px;
}
.helf li:nth-child(5) {
    margin-right: 0;
}
.sns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.youtube {
    width: 39px;
    height: 39px;
}
.instagram {
    margin-left: 18px;
    width: 30px;
    height: 30px;
}